.del_button {
     font-size: 30px;
    text-align:center;
    padding: 10px 100px;
    width: 187px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid black;
    height: auto;
    color:black;
    display: inline-block;
    padding-left: 33px;
    background-color:gold;
}


.iconi {
    padding: 14px 30px;
    background-color:gold;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size:24px;
    width: 90px;

    display: left;
    text-align: center;
    border: 2px solid black;
}

.main{
font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1800px;
  margin-left:-100px;
  border-collapse: collapse;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left:8px;

th {
  background-color: #F5DEB3;
  padding:5px;
  text-align: left;
}
}



.search_button {
    font-size: 30px;
    text-align:center;
    padding: 10px 100px;
    width: 100px;
    margin-left:20px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid black;
    height: auto;
    color:black;
    display: inline-block;
    padding-left: 3px;
}
.search_button:hover {
    background-color: #F5DEB3;
}

.icon_search{
    padding: 10px 90px;
    height: auto;
    display: inline-block;
    text-align: center;
    font-size:30px;
    width: 500px;
    margin-left: 150px;
    margin-bottom: 10px;
    border: bold;
    border-radius: 8px;
    margin-top: 10px;
}




body {

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 2px;
}

}

.form-group {
    margin-bottom: 5px;



}



.icon {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size:30px;
    width: 500px;
    height: auto;
    display: inline-block;
    text-align: center;
}

.label {
    font-size: 30px
}

.input{

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1px;

}

.button {
    background-color: pink;
    color: pink;
    padding: 10px 90px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    margin-left: 150px;
    margin-bottom: 10px;
    border: bold;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #F5DEB3;
}

table {

  align-items: center;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4px;
  padding-left:8px;
}

th {
  background-color: pink;
  padding:5px;
  text-align: left;
  border: 3px solid grey;
}
tr:nth-child(odd) {
    background-color: #F5DEB3;
}
tr:nth-child(even) {
  background-color: white;
}
td {
  padding: 4px;
  border: 3px solid grey;
}
tr:hover {
  background-color: yellow;
}

img {
    width: 100px;

}
