{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static//css/style.css">
{% endblock %}
{% block content  %}
<br><br><br><br>

    <section id="about-info" class="bg-light">
      <div class="container">
        <div class="info-left">
          <h1><br><br><span class="text-primary">LOYIHA </span> YARATILISH BOSQICHLARI</h1>
          <h1>
              Amaliyot uchun ixtiyoriy kerakli mavzu tanladim,
              ko'rsatmalar asosida mustaqil ishladim.
          </h1>


        </div>
        <div class="info-right"><br><br><br>
          <img src="/static/images/photo-2.jpg"  />
        </div>
      </div>
    </section>
<section id="testimonials">
       <div id="showcase1">
        <div class="container">
          <div class="showcase1-content">


    <div class="clr"></div>


       </div>
      </div>
    </div>
</section>
{% endblock %}