{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../static//css/style.css">
{% endblock %}
{% block content  %}
<br><br><br><br>

    <section id="about-info" class="bg-light">
      <div class="container">
        <div class="info-left">
          <h1><br><br><span class="text-primary">LOYIHA </span> YARATILISH BOSQICHLARI</h1>
          <h2>
              DWAFESZGXDDFGIULJH.GI,FMDNSBrqwaetrsydtfugkyuhuli;o.k,gujfhymdgnadvcs a
          </h2>


        </div>
        <div class="info-right"><br><br><br>
          <img src="/static/images/photo-2.jpg"  />
        </div>
      </div>
    </section>
<section id="testimonials">
       <div id="showcase1">
        <div class="container">
          <div class="showcase1-content">


    <div class="clr"></div>

      <div class="container">


        <div class="testimonial bg-primary">
          <img src="/static/images/person-1.jpg" alt="Zumrad" />
          <br>
          <br>
          <br>
          <h3>
            LOYIHAMIZ MOBIL ILOVA, WEB SAYT VA TELEGRAM BOT KO'RINISHIDA BO'LADI.
          </h3>
        </div>
        <div class="testimonial bg-primary">
          <img src="/static/images/person-2.jpg" alt="Qimmat" />
          <br>
          <br>
          <h3>
           LOYIHA BO'YICHA ILMIY RAXBAR TATU URGANCH FILIALI AXBOROT TEXNOLOGIYALARI KAFEDRASI O'QITUVCHISI BALTAYEV RUSTAMBEK.
         </h3>
        </div>
        <div class="testimonial bg-primary">
          <img src="/static/images/person-3.jpg" alt="Himmat" />
          <br>
          <br>
          <h3>
           G'OYA MUALLIFI TATU URGANCH FILIALI KOMPYUTER INJINIRINGI FAKULTETI 2-BOSQICH TALABASI QAZAQOV MANSURBEK.
         </h3>
        </div>


          </div>
       </div>
      </div>
    </div>
</section>
{% endblock %}