{% extends 'base.html'%}
{% block title %}<title>Yangi hodim zakaz sahifasi</title>{% endblock %}
{% block content %}
{% block additional_css %}
<link rel="stylesheet" href="/static/css/qushish.css">
{% endblock %}

    <div class="body">
    <form method="post">
        <div class="input">
            <div class="label" >


                    <label> Telefon raqam kiriting: </label>
                    <input style="display: flex;justify-content:center;" class="icon" type="text" name="tel_raqam"><br>

                         <label> manzil urli: </label>
                            <input style="display: flex;justify-content:center;" class="icon" type="text" name="manzil_map"><br>

                            <label> vaqti: </label>
                                 <input style="display: flex;justify-content:center;" class="icon" type="text" name="vaqti"><br>

            </div>

                                                    <button  type="submit"><img src="/static/img/add.png" alt="Sticker" class="icon1"></button>

        </div>
    </form>
    </div>

{% endblock %}




