{% extends 'base.html'%}

{% block title %} Ovqatlar sahifasi {% endblock %}

{% block content %}
    <section id="contact-form">
      <div class="container">
        <h1><span class="text-primary">KIRISHISH</span> </h1>
        <p>ILTMOS QUYIDAGI FORMANI TO'LDIRING</p>

       <form action="{{ url_for('registr') }}" method="post">
                <label for="ism">Ismingiz:</label>
                <input id="ism" name="ism" type="text" required>

                <label for="familiya">Familiyangiz:</label>
                <input id="familiya" name="familiya" type="text" required>

                <label for="login">login</label>
                <input id="login" name="login" type="text" required>

                <label for="parol">parol</label>
                <input id="parol" name="parol" type="password" required>

                <button type="submit"> Ro'yxatdan o'tish </button>
            </form>
      </div>
    </section>

    <section id="contact-info" class="bg-dark">
      <div class="container">
        <div class="box">
          <i class="fas fa-hotel fa-3x"></i>


        </div>
        <div class="box">
          <i class="fas fa-phone fa-3x"></i><br><br><br>
          <h3>TELEFON RAQAMLAR</h3>
          <p>
            97 211 20 08
          </p>
        </div>
        <div class="box">
          <i class="fas fa-hotel fa-3x"></i>

        </div>
      </div>
    </section>

{% endblock %}